<!DOCTYPE html>
<html lang="zh-cn">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalabe=no">
    <meta name="renderer" content="ie-stand">
    <title>发帖成功</title>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97624179-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6784d0adea487eefbe595d28dbb08efb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

    <link rel="shortcut icon" href="/static/images/logo1.png">

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">  
    <link href="{% static "css/EditPostsSuccess.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"> 
    <link rel="stylesheet" type="text/css" href="{% static "css/awesome-bootstrap-checkbox.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/flatpickr.min.css" %}">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
  </head>
  <body>
  <!-- 顶部部分开始 -->
  <div class="u-container">
{% if request.user.is_authenticated %}
    <div class="u-header clearfix">
        <div class="logo fl">
            <a href="/"><img class="img-responsive" src="{% static "images/01-home-logo.png" %}" alt="logo"></a>
        </div>
        <div class="login-status fr">
            <div class="avatar-wrapper">
              <a href="{% url "accounts:myPosts" %}">
                <img src={{ user.avatar_url }} class="img-circle avatar" alt="Cinque Terre">
              </a>
            </div>
            <div class="dropdown" style="display:inline-block;">
                <button class="header-btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{% url 'accounts:accountSecurity' %}">账户安全</a></li>
                    <li role="presentation" class="divider"></li>
                    <!-- <li><a href="#">人工申述</a></li>
                    <li role="presentation" class="divider"></li> -->
                    <li><a href="{% url 'accounts:myhelpcenter' %}">联系我们</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="{% url 'accounts:logout' %}">登出</a></li>
                </ul>
            </div>
            <div class="dropdown" style="display:inline-block;">
                <a href="{% url "accounts:myInfo" %}" class="header-btn dropdown-toggle">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    {% if user.unread_message %}<span class="redpoint"><i>{{ user.unread_message }} </i></span>{% endif %}
                </a>
               <!--  <ul class="dropdown-menu">
                    <li><a href="#">我的私信<span class="redpoint"><i>2</i></span></a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">我的回复<span class="redpoint"><i>99+</i></span></a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">查看@提到我<span class="redpoint"><i>12</i></span></a></li>
                </ul> -->
            </div>
            <div class="new-post-wrapper fr">
                <a class="new-post" href="/posts/add">
                    <span>发表新帖</span>
                </a>
            </div>

        </div>

    </div>
    <div class="header w">
        <a href="#" class="mobile-nav-btn pull-right"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="/" class="home-link">
            <div class="logo">
                <img src="{% static "images/home-logo.png" %}" alt="" class="img-responsive">
            </div>
        </a>
    <div class="user">
            <a href="#" class="remove-nav pull-right"><img src="{% static "./images/times.png" %}" alt="" class="img-responsive"></a>
            <a href="/" class="home-nav-item special">
                <span>首页</span>
            </a>
            <a href="/posts/add" class="home-nav-item special">
                <span>发表新帖</span>
            <a href="{% url "accounts:myPosts" %}" class="home-nav-item special">
                <span>个人中心</span>
            </a>
         <!--    <a href="{% url "accounts:accountSecurity" %}" class="home-nav-item has-sub-item">
                <span>设置</span>
            </a> -->
            
            <a href="{% url 'accounts:logout' %}"  class="home-nav-item special">
                <span>Sign out</span></a>
            
            </a>
        </div>
    {% else %}
    <div class="u-header clearfix">
        <div class="logo fl">
            <a href="/"><img class="img-responsive" src="{% static "images/01-home-logo.png" %}" alt="logo"></a>
        </div>
        <div class="user" style="margin-top:18px;text-align:right;">
            <a href="{% url 'accounts:login' %}" class="login home-nav-item">
                <span>Log in</span>
                <img src="{% static "images/home-login.png" %}" alt="">
            </a>
            <a href="{% url 'accounts:register' %}" class="register home-nav-item" style="margin-left:10px;">
                <span>Register</span>
                <img src="{% static "images/home-register.png" %}" alt="">
            </a>

        </div>

    </div>
    <div class="header w">
        <a href="#" class="mobile-nav-btn pull-right"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="/" class="home-link">
            <div class="logo">
                <img src="{% static "images/home-logo.png" %}" alt="" class="img-responsive">
            </div>
        </a>
        
        <div class="user">
            <a href="#" class="remove-nav pull-right"><img src="{% static "./images/times.png" %}" alt="" class="img-responsive"></a>
            <a href="/" class="home-nav-item special">
                <span>首页</span>
            </a>
            
            
            <a href="{% url 'accounts:login' %}" class="login home-nav-item">
                <span>Log in</span>
                <img src="{% static "images/home-login.png" %}" alt="">
            </a>
            <a href="{% url 'accounts:register' %}" class="register home-nav-item">
                <span>Register</span>
                <img src="{% static "images/home-register.png" %}" alt="">
            </a>
            <!-- <a href="#" class="home-nav-item special">
                <span>Live and Love</span>
            </a> -->
        </div>

       {% endif %}
    </div> 
     <!-- 顶部部分结束 -->
     <!-- 个人中心内容开始 -->
     
     <div class="content" style="border-radius:10px;background-color:#fff;">
     <input type="image" src="{% static "images/back-icon1.png" %}" onclick="window.history.back();" style="width:25px; height: 25px;margin:10px;position:absolute;">
    
          <div class="content-title">
          发帖中心
          </div>
         <div class="edit-content">
            <div class="edit-content-title">
              <img src="{% static "images/steps-icon.png" %}">
         	</div>
            <div class="edit-content-point">
              <img src="{% static "images/point3.jpg" %}">
            </div>
           
            <div class="edit-content-success">Congradulations!</div>
            <div class="edit-content-success1">发布成功！</div>
            <!-- <div class="edit-content-success1" style="width: 45%;margin: 0 auto;text-align: left;margin-top: 20px;font-size: 16px;">现因网站维护，现图片上传功能暂停。未来您可以在个人中心－我的帖子处补齐相关图片，给您带来的不便，我们深表歉意。<p style="margin-top:20px">CSinLA Team</p></div> -->
            <div style="width:100%;text-align:center;clear:both;padding-top:20px;"><a href="{% url 'home' %}" class="btn btn-default" style="width: 105px;height: 30px;line-height: 15px;">返回首页</a><a href="{% url 'posts:detail' id %}" class="btn btn-default" style="width: 105px;height: 30px;line-height: 15px;margin-left:20px">查看我的帖子</a></div> 
       </div>
          
     </div>
          
         
     
     
     
     
     <div style="margin-top:50px;"></div>
     
     

       
       
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

   
    <script src="{% static "js/flatpickr.min.js" %}"></script>
    <script src="{% static "js/main.js" %}"></script>
   <script src="{% static "js/menu.js" %}"></script>
   <script src="{% static "js/qtime.js" %}"></script>
   <script src="{% static "js/return.js" %}"></script>
    
   
  </body>
</html>
