<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="ie-stand">
    <link rel="shortcut icon" href="/static/images/logo1.png">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/house-renting.css' %}">
    <title>{{ parent_module.name }}</title>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97624179-1', 'auto');
  ga('send', 'pageview');

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6784d0adea487eefbe595d28dbb08efb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</head>
<body>
<div class="u-container">
{% if request.user.is_authenticated %}
    <div class="u-header clearfix">
        <div class="logo fl">
            <a href="/"><img class="img-responsive" src="{% static "images/01-home-logo.png" %}" alt="logo"></a>
        </div>
        <div class="login-status fr">
            <div class="avatar-wrapper">
              <a href="{% url "accounts:myPosts" %}">
                <img src={{ user.avatar_url }} class="img-circle avatar" alt="Cinque Terre">
              </a>
            </div>
            <div class="dropdown" style="display:inline-block;">
                <button class="header-btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{% url 'accounts:accountSecurity' %}">账户安全</a></li>
                    <li role="presentation" class="divider"></li>
                    <!-- <li><a href="#">人工申述</a></li>
                    <li role="presentation" class="divider"></li> -->
                    <li><a href="{% url 'accounts:myhelpcenter' %}">联系我们</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="{% url 'accounts:logout' %}">登出</a></li>
                </ul>
            </div>
            <div class="dropdown" style="display:inline-block;">
                <a href="{% url "accounts:myInfo" %}" class="header-btn dropdown-toggle">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    {% if user.unread_message %}<span class="redpoint"><i>{{ user.unread_message }} </i></span>{% endif %}
                </a>
               <!--  <ul class="dropdown-menu">
                    <li><a href="#">我的私信<span class="redpoint"><i>2</i></span></a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">我的回复<span class="redpoint"><i>99+</i></span></a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">查看@提到我<span class="redpoint"><i>12</i></span></a></li>
                </ul> -->
            </div>
            <div class="new-post-wrapper fr">
                <a class="new-post" href="/posts/add">
                    <span>发表新帖</span>
                </a>
            </div>

        </div>

    </div>
    <div class="header w">
        <a href="#" class="mobile-nav-btn pull-right"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="/" class="home-link">
            <div class="logo">
                <img src="{% static "images/home-logo.png" %}" alt="" class="img-responsive">
            </div>
        </a>
    <div class="user">
            <a href="#" class="remove-nav pull-right"><img src="{% static "./images/times.png" %}" alt="" class="img-responsive"></a>
            <a href="/" class="home-nav-item special">
                <span>首页</span>
            </a>
            <a href="/posts/add" class="home-nav-item special">
                <span>发表新帖</span>
            <a href="{% url "accounts:myPosts" %}" class="home-nav-item special">
                <span>个人中心</span>
            </a>
         <!--    <a href="{% url "accounts:accountSecurity" %}" class="home-nav-item has-sub-item">
                <span>设置</span>
            </a> -->
            
            <a href="{% url 'accounts:logout' %}"  class="home-nav-item special">
                <span>Sign out</span></a>
            
            </a>
        </div>
    {% else %}
    <div class="u-header clearfix">
        <div class="logo fl">
            <a href="/"><img class="img-responsive" src="{% static "images/01-home-logo.png" %}" alt="logo"></a>
        </div>
        <div class="user" style="margin-top:18px;text-align:right;">
            <a href="{% url 'accounts:login' %}" class="login home-nav-item">
                <span>Log in</span>
                <img src="{% static "images/home-login.png" %}" alt="">
            </a>
            <a href="{% url 'accounts:register' %}" class="register home-nav-item" style="margin-left:10px;">
                <span>Register</span>
                <img src="{% static "images/home-register.png" %}" alt="">
            </a>

        </div>

    </div>
    <div class="header w">
        <a href="#" class="mobile-nav-btn pull-right"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="/" class="home-link">
            <div class="logo">
                <img src="{% static "images/home-logo.png" %}" alt="" class="img-responsive">
            </div>
        </a>
        
        <div class="user">
            <a href="#" class="remove-nav pull-right"><img src="{% static "./images/times.png" %}" alt="" class="img-responsive"></a>
            <a href="/" class="home-nav-item special">
                <span>首页</span>
            </a>
            
            
            <a href="{% url 'accounts:login' %}" class="login home-nav-item">
                <span>Log in</span>
                <img src="{% static "images/home-login.png" %}" alt="">
            </a>
            <a href="{% url 'accounts:register' %}" class="register home-nav-item">
                <span>Register</span>
                <img src="{% static "images/home-register.png" %}" alt="">
            </a>
            <!-- <a href="#" class="home-nav-item special">
                <span>Live and Love</span>
            </a> -->
        </div>

       {% endif %}
    </div> 
     <!-- 顶部部分结束 -->
     <!-- 个人中心内容开始 -->
     
    <div class="u-main well well-lg">
     <input type="image" src="{% static "images/back-icon1.png" %}" onclick="window.history.back();" style="width:25px; height: 25px;margin:10px;position:absolute;">
        <h2 class="u-main-title ac">{{ parent_module.name }}</h2>

        <div class="u-main-search clearfix">
            <div class="duration row">
                <!--<span id="long" class="u-block">长租</span>-->
                {% for mod in modules %}
                    {% if mod.belong_to.name != mod.name %}
                        {% if self_mod.name == mod.name %}
                            <span class="u-block"><a href="{% url 'posts:list' mod.id %}">{{ mod.name }}</a></span>
                        {% else %}
                            <span class=""><a href="{% url 'posts:list' mod.id %}">{{ mod.name }}</a></span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
            {% if parent_module.name = "租房" %}
            <div class="location row" id="rent_choice" style="display:block">
                <span>地区：</span>
                <input id="allLocations" type="radio" name="location" value="all" checked>
                <label for="allLocations">全部</label>
                <input id="school1" type="radio" name="location" value="school1" onchange="selectedradion()">
                <label for="school1">USC</label>
                <input id="school2" type="radio" name="location" value="school2" onchange="selectedradion()">
                <label for="school2">UCLA</label>
                <input id="school3" type="radio" name="location" value="school3" onchange="selectedradion()">
                <label for="school3">UCSD</label>
                <input id="school4" type="radio" name="location" value="school4" onchange="selectedradion()">
                <label for="school4">UCI</label>
                <input id="otherLocation" type="radio" name="location" value="other" onchange="selectedradion()">
                <label for="otherLocation">其他</label>
            </div>
            <div class="price row" id="rent_choice" style="display:block">
                <span>月租：</span>
                <input id="allPrice" type="radio" name="price" value="all" checked>
                <label for="allPrice">全部</label>
                <input id="price1" type="radio" name="price" value="price1">
                <label for="price1">500元以下</label>
                <input id="price2" type="radio" name="price" value="price2">
                <label for="price2">500-1000元</label>
                <input id="price3" type="radio" name="price" value="price3">
                <label for="price3">1000-1500元</label>
                <input id="otherPrice" type="radio" name="price" value="other">
                <label for="otherPrice">其他</label>
            </div>
            <div class="type row" id="rent_choice" style="display:block">
                <span>方式：</span>
                <input id="all" type="radio" name="type" value="all" checked>
                <label for="all">全部</label>
                <input id="private" type="radio" name="type" value="private">
                <label for="private">private</label>
                <input id="share" type="radio" name="type" value="share">
                <label for="share">share</label>
            </div>
            <!--<a href="#" class="searchBtn">搜索</a>-->
            {% else %}
            <div class="location row" id="car_choice" style="display:block">
                <span>类别：</span>
                <input id="allLocations" type="radio" name="location" value="all" checked>
                <label for="allLocations">全部</label>
                <input id="school1" type="radio" name="location" value="school1" onchange="selectedradion()">
                <label for="school1">日系</label>
                <input id="school2" type="radio" name="location" value="school2">
                <label for="school2">德系</label>
                <input id="school3" type="radio" name="location" value="school3">
                <label for="school3">美系</label>
                <input id="otherLocation" type="radio" name="location" value="other">
                <label for="otherLocation">其他</label>
            </div>
            <div class="price row" id="car_choice" style="display:block">
                <span>级别：</span>
                <input id="allPrice" type="radio" name="price" value="all" checked>
                <label for="allPrice">全部</label>
                <input id="price1" type="radio" name="price" value="price1">
                <label for="price1">轿车</label>
                <input id="price2" type="radio" name="price" value="price2">
                <label for="price2">跑车</label>
                <input id="price3" type="radio" name="price" value="price3">
                <label for="price3">SUV</label>
                <input id="otherPrice" type="radio" name="price" value="other">
                <label for="otherPrice">其他</label>
            </div>
            <div class="type row" id="car_choice" style="display:block">
                <span>变速器：</span>
                <input id="all" type="radio" name="type" value="all" checked>
                <label for="all">全部</label>
                <input id="private" type="radio" name="type" value="private">
                <label for="private">手动</label>
                <input id="share" type="radio" name="type" value="share">
                <label for="share">自动</label>
            </div>
        </div>
        {% endif %}

        <div class="u-main-content row">
            <div class="col-md-9">
                <div class="u-main-section">
                    <table class="u-table table table-hover ac">
                        <tbody>
                        {% for post in posts %}
                        {% if post.title == 'test_rent_7' %}
                            <tr>
                            <td class="title">
                                <div class="content">
                                    <a href="#">[题头题头]&nbsp;</a>
                                    <a href="{% url 'posts:detail' post.id %}">{{ post.title}}</a>
                                    <a href="#"><span style="color: red;">[图片&nbsp;5]</span></a>
                                </div>
                                <div class="tagBox">
                                    <a href="#">标签</a>
                                    <a href="#">标签</a>
                                    <a href="#">标签</a>
                                </div>
                            </td>
                            <td class="time">
                                <div class="remainingTime">
                                    <span>{{ post.expire_date }}</span>
                                </div>
                                <div class="info">
                                    <span><i class="fa fa-user"></i>&nbsp;{{ post.author.username }}&nbsp;&nbsp;{{ post.post_date }}</span>
                                </div>
                            </td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li class="disabled">
                                <a href="#" aria-label="Previous">上一页
                                </a>
                            </li>
                            <li><a href="#">首页</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">尾页</a></li>
                            <li>
                                <a href="#" aria-label="Next">
                                    下一页
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div><!-- end of col-xs-9 -->

            <div class="col-md-3 ac">
            </div>  <!-- end of sidebar -->
        </div>  <!-- end of main-content -->

    </div>
</div>
<div class="u-main-footer ac">
    <span>洛杉矶留学生资讯网&nbsp;版权所有</span>
</div>
<script>
function selectedradion(){
    var loc = document.getElementsByName("location");
    for(var i=0;i<loc.length;i++)
        {
            if(loc[i].checked)
            {
                alert(loc[i].value)
            }
        }
    }
</script>
<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/houseRenting.js' %}"></script>
</body>
</html>
