<!DOCTYPE html>
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="renderer" content="ie-stand">
    <link rel="shortcut icon" href="/static/images/logo1.png">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/awesome-bootstrap-checkbox.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/house-renting.css" %}">

    <script type="text/javascript" src="../../static/js/house.js"></script>
    <title>二手书</title>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-97624179-1', 'auto');
  ga('send', '' +
      'view');

</script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?6784d0adea487eefbe595d28dbb08efb";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
     wx.config({
   debug: false,  //调式模式，设置为ture后会直接在网页上弹出调试信息，用于排查问题
   appId: 'wx910b80a91781c9df',
   timestamp: {{ timestamp }},
   nonceStr: '{{ nonceStr }}',
   signature: '{{ signature }}',
   jsApiList: [  //需要使用的网页服务接口
       'checkJsApi',  //判断当前客户端版本是否支持指定JS接口
       'onMenuShareTimeline', //分享给好友
       'onMenuShareAppMessage', //分享到朋友圈
       'onMenuShareQQ',  //分享到QQ
       'onMenuShareWeibo' //分享到微博
   ]
 });
 wx.ready(function () {   //ready函数用于调用API，如果你的网页在加载后就需要自定义分享和回调功能，需要在此调用分享函数。//如果是微信游戏结束后，需要点击按钮触发得到分值后分享，这里就不需要调用API了，可以在按钮上绑定事件直接调用。因此，微信游戏由于大多需要用户先触发获取分值，此处请不要填写如下所示的分享API
            // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
                wx.checkJsApi({
                    jsApiList: [
                      'onMenuShareAppMessage'
                    ],
                    success: function (res) {
                      //alert(JSON.stringify(res));
                    }
                });
wx.onMenuShareTimeline({  //例如分享到朋友圈的API  
   title: '二手书', // 分享标题
   desc: '上csinla.com，看更多廉价的二手书哟', // 分享描述
   link: 'http://www.csinla.com/posts/usedbook/view/', // 分享链接
   imgUrl: 'http://www.csinla.com/media/bg.jpg', // 分享图标
   success: function () {
       // 用户确认分享后执行的回调函数
   },
   cancel: function () {
       // 用户取消分享后执行的回调函数
   }
});
wx.onMenuShareAppMessage({
    title: '二手书', // 分享标题
    desc: '上csinla.com，看更多廉价的二手书哟', // 分享描述
    link: 'http://www.csinla.com/posts/usedbook/view/', // 分享链接
    imgUrl: 'http://www.csinla.com/media/bg.jpg', // 分享图标
    type: '', // 分享类型,music、video或link，不填默认为link
    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
    success: function () { 
        // 用户确认分享后执行的回调函数
    },
    cancel: function () { 
        // 用户取消分享后执行的回调函数
    }
});
wx.onMenuShareQQ({
    title: '个人转租', // 分享标题
    desc: '上csinla.com，看更多廉价的二手书哟', // 分享描述
    link: 'http://www.csinla.com/posts/usedbook/view/', // 分享链接
    imgUrl: 'http://www.csinla.com/media/bg.jpg', // 分享图标
    success: function () { 
       // 用户确认分享后执行的回调函数
    },
    cancel: function () { 
       // 用户取消分享后执行的回调函数
    }
});
}); 
wx.error(function (res) {
 alert(res.errMsg);  //打印错误消息。及把 debug:false,设置为debug:ture就可以直接在网页上看到弹出的错误提示
});
</script>
</head>
<body>

<div class="u-container">
{% if request.user.is_authenticated %}
    <div class="u-header clearfix">
        <div class="logo fl">
            <a href="/"><img class="img-responsive" src="{% static "images/01-home-logo.png" %}" alt="logo"></a>
        </div>
        <div class="login-status fr">
            <div class="avatar-wrapper">
              <a href="{% url "accounts:myPosts" %}">
                <img src={{ user.avatar_url }} class="img-circle avatar" alt="Cinque Terre">
              </a>
            </div>
            <div class="dropdown" style="display:inline-block;">
                <button class="header-btn dropdown-toggle" type="button" data-toggle="dropdown">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="{% url 'accounts:accountSecurity' %}">账户安全</a></li>
                    <li role="presentation" class="divider"></li>
                    <!-- <li><a href="#">人工申述</a></li>
                    <li role="presentation" class="divider"></li> -->
                    <li><a href="{% url 'accounts:myhelpcenter' %}">联系我们</a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="{% url 'accounts:logout' %}">登出</a></li>
                </ul>
            </div>
            <div class="dropdown" style="display:inline-block;">
                <a href="{% url "accounts:myInfo" %}" class="header-btn dropdown-toggle">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    {% if user.unread_message %}<span class="redpoint"><i>{{ user.unread_message }} </i></span>{% endif %}
                </a>
               <!--  <ul class="dropdown-menu">
                    <li><a href="#">我的私信<span class="redpoint"><i>2</i></span></a>
                    </li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">我的回复<span class="redpoint"><i>99+</i></span></a></li>
                    <li role="presentation" class="divider"></li>
                    <li><a href="#">查看@提到我<span class="redpoint"><i>12</i></span></a></li>
                </ul> -->
            </div>
            <div class="new-post-wrapper fr">
                <a class="new-post" href="/posts/add">
                    <span>发表新帖</span>
                </a>
            </div>

        </div>

    </div>
    <div class="header w">
        <a href="#" class="mobile-nav-btn pull-right"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="/" class="home-link">
            <div class="logo">
                <img src="{% static "images/home-logo.png" %}" alt="" class="img-responsive">
            </div>
        </a>
    <div class="user">
            <a href="#" class="remove-nav pull-right"><img src="{% static "./images/times.png" %}" alt="" class="img-responsive"></a>
            <a href="/" class="home-nav-item special">
                <span>首页</span>
            </a>
            <a href="/posts/add" class="home-nav-item special">
                <span>发表新帖</span>
            <a href="{% url "accounts:myPosts" %}" class="home-nav-item special">
                <span>个人中心</span>
            </a>
         <!--    <a href="{% url "accounts:accountSecurity" %}" class="home-nav-item has-sub-item">
                <span>设置</span>
            </a> -->
            
            <a href="{% url 'accounts:logout' %}"  class="home-nav-item special">
                <span>Sign out</span></a>
            
            </a>
        </div>
    {% else %}
    <div class="u-header clearfix">
        <div class="logo fl">
            <a href="/"><img class="img-responsive" src="{% static "images/01-home-logo.png" %}" alt="logo"></a>
        </div>
        <div class="user" style="margin-top:18px;text-align:right;">
            <a href="{% url 'accounts:login' %}" class="login home-nav-item">
                <span>Log in</span>
                <img src="{% static "images/home-login.png" %}" alt="">
            </a>
            <a href="{% url 'accounts:register' %}" class="register home-nav-item" style="margin-left:10px;">
                <span>Register</span>
                <img src="{% static "images/home-register.png" %}" alt="">
            </a>

        </div>

    </div>
    <div class="header w">
        <a href="#" class="mobile-nav-btn pull-right"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="/" class="home-link">
            <div class="logo">
                <img src="{% static "images/home-logo.png" %}" alt="" class="img-responsive">
            </div>
        </a>
        
        <div class="user">
            <a href="#" class="remove-nav pull-right"><img src="{% static "./images/times.png" %}" alt="" class="img-responsive"></a>
            <a href="/" class="home-nav-item special">
                <span>首页</span>
            </a>
            
            
            <a href="{% url 'accounts:login' %}" class="login home-nav-item">
                <span>Log in</span>
                <img src="{% static "images/home-login.png" %}" alt="">
            </a>
            <a href="{% url 'accounts:register' %}" class="register home-nav-item">
                <span>Register</span>
                <img src="{% static "images/home-register.png" %}" alt="">
            </a>
            <!-- <a href="#" class="home-nav-item special">
                <span>Live and Love</span>
            </a> -->
        </div>

       {% endif %}
    </div> 
     <!-- 顶部部分结束 -->
     <!-- 个人中心内容开始 -->
     
    <div class="u-main well well-lg">
     <!-- <input type="image" src="{% static "images/back-icon1.png" %}" onclick="window.history.back();" style="width:25px; height: 25px;margin:10px;position:absolute;"> -->
     <script type="text/javascript">
         function sys_show() {
            $(".sys_show_p").toggle();
         }
     </script>
     <div id="pageurl"><a href="/">首页</a> <img src="{% static "images/url-lef.png" %}"> <a href="/posts/listRent">二手书</a>{% if user.is_superuser %}<a href="#" onclick="sys_show()" style="color: red;border: 1px solid red;">显示系统用户信息</a>{% endif %}</div>
        <h2 class="u-main-title ac">二手书</h2>
 <form method="post" action="">      {% csrf_token %}  
        <div class="u-main-search clearfix">
            <div class="duration row">
                <a href="/posts/usedgoods/view/" id="long" style="float:left;" class="u-block1">二手商品</a>
                <a href="/posts/usedbook/view/" id="short" style="float:left;margin-left:20px;" class="u-block">二手书</a>
            </div>
           

            <div class="edit-content-form radio" style="padding-left:0px;margin:10px 0 90px 40px">
                <span>地区：</span>
                <input id="allLocations" type="radio" name="locat" value="全部" checked>
                <label for="allLocations">全部</label>
                <input id="school1" type="radio" name="locat" value="USC" {% if filter_dic.locat == 'USC' %}checked{% endif %}>
                <label for="school1">USC</label>
                <input id="school2" type="radio" name="locat" value="SMC" {% if filter_dic.locat == 'SMC' %}checked{% endif %}>
                <label for="school2">SMC</label>
                <input id="school6" type="radio" name="locat" value="UCLA" {% if filter_dic.locat == 'UCLA' %}checked{% endif %}>
                <label for="school6">UCLA</label>
                <input id="school5" type="radio" name="locat" value="UCSB" {% if filter_dic.locat == 'UCSB' %}checked{% endif %}>
                <label for="school5">UCSB</label>
                <input id="school3" type="radio" name="locat" value="UCSD" {% if filter_dic.locat == 'UCSD' %}checked{% endif %}>
                <label for="school3">UCSD</label>
                <input id="school4" type="radio" name="locat" value="UCI" {% if filter_dic.locat == 'UCI' %}checked{% endif %}>
                <label for="school4">UCI</label>
                <input id="school7" type="radio" name="locat" value="ELAC" {% if filter_dic.locat == 'ELAC' %}checked{% endif %}>
                <label for="school7">ELAC</label>
                <input id="school8" type="radio" name="locat" value="PCC" {% if filter_dic.locat == 'PCC' %}checked{% endif %}>
                <label for="school8">PCC</label>
                <input id="otherLocation" type="radio" name="locat" value="OTHER" {% if filter_dic.locat == 'OTHER' %}checked{% endif %}>
                <label for="otherLocation">其他</label>
            </div>
            <!-- <div class="edit-content-form radio" style="padding-left:0px;margin:10px 0 0 40px">
                <span>价格：</span>
                <input id="allPrice" type="radio" name="price" value="全部" checked>
                <label for="allPrice">全部</label>
                <input id="price1" type="radio" name="price" value="500">
                <label for="price1">500元以下</label>
                <input id="price2" type="radio" name="price" value="1000">
                <label for="price2">500-1000元</label>
                <input id="price3" type="radio" name="price" value="1500">
                <label for="price3">1000-1500元</label>
                <input id="otherPrice" type="radio" name="price" value="other">
                <label for="otherPrice">其他</label>
            </div>
            <div class="edit-content-form radio" style="padding-left:0px;margin:10px 0 40px 40px">
                <span>类别：</span>
                <input id="all" type="radio" name="type" value="全部" checked>
                <label for="all">全部</label>
                <input id="private" type="radio" name="type" value="private">
                <label for="private">教育类</label>
                <input id="share" type="radio" name="type" value="share">
                <label for="share">经管类</label>
                <input id="share" type="radio" name="type" value="share">
                <label for="share">科技类</label>
            </div> -->
            <input type="submit" id="search1" class="searchBtn" value="搜索" style="background:none;"></form>

        </div>
        <div class="m-main-search">
            <form method="post" action="">      {% csrf_token %}      
            <div class="duration2 ac">
                <a href="/posts/usedgoods/view/" id="long" style="float:left;font-size:16px;" class="u-block1">二手商品</a>
                <a href="/posts/usedbook/view/" id="short" style="float:left;margin-left:20px;font-size:16px;" class="u-block">二手书</a>
            </div>

            <div class="row" style="clear:both">
            
            <div class="form-group" style="margin-top:10px;width:30%;float:left;margin-left:3%;">
                <label for="" class="col-sm-4 control-label">地区</label>
                <select name="locat" class="form-control">
                    <option>全部</option>
                    <option {% if filter_dic.locat == 'USC' %}selected='selected'{% endif %}>USC</option>
                    <option {% if filter_dic.locat == 'SMC' %}selected='selected'{% endif %}>SMC</option>
                    <option {% if filter_dic.locat == 'UCLA' %}selected='selected'{% endif %}>UCLA</option>
                    <option {% if filter_dic.locat == 'UCSB' %}selected='selected'{% endif %}>UCSB</option>
                    <option {% if filter_dic.locat == 'UCSD' %}selected='selected'{% endif %}>UCSD</option>
                    <option {% if filter_dic.locat == 'UCI' %}selected='selected'{% endif %}>UCI</option>
                    <option {% if filter_dic.locat == 'ELAC' %}selected='selected'{% endif %}>ELAC</option>
                    <option {% if filter_dic.locat == 'PCC' %}selected='selected'{% endif %}>PCC</option>
                    <option {% if filter_dic.locat == 'OTHER' %}selected='selected'{% endif %}>OTHER</option>
                </select>
            </div>
           
            
           <!--  <div class="form-group" style="margin-top:10px;width:30%;float:left;margin-left:5px;">
               <label for="" class="col-sm-4 control-label">价格</label>
               <select class="form-control" name="price">
                   <option>全部</option>
                   <option value="500">500元以下</option>
                   <option value="1000">500-1000元</option>
                   <option value="1500">1000-1500元</option>
                   <option value="other">其他</option>
               </select>
           </div>
           
                     
           <div class="form-group" style="margin-top:10px;width:30%;float:left;margin-left:5px;">
               <label for="" class="col-sm-4 control-label">类别</label>
               <select class="form-control" name="type">
                   <option>全部</option>
                   <option>教育类</option>
                   <option>经管类</option>
                    <option>科技类</option>
               </select>
           </div> -->
            </div>
            <div style="margin:0 auto;text-align:center">
            <button class="ac house-search-btn" style="width:100px;">搜索</button></div>
            </form>
        </div>

        <div class="u-main-content" style="margin-left:-15px">
            <div class="col-md-9" style="padding-right: 0px;">
                <div class="u-main-section">
                    <table class="u-table table table-hover ac">
                        <tbody>
                            {% for posts in UsedBook_list.object_list %}
                                <tr id="listt">
                                    <td class="title" colspan="2">
                                        <div class="content">
                                            <a href="/posts/{{posts.id}}" style="color:#338dfd;font-size:16px;">[<!-- {% if rent.district == "OTHER" %}{{rent.district_other}}{% else %}{{ rent.district }}{% endif %} -->{{posts.district}}]&nbsp;</a>
                                            <a href="/posts/{{posts.id}}" style="color:#338dfd;font-size:16px;">{{posts.title}}{% if posts.is_sys and user.is_superuser %}<p class="sys_show_p" style="display:none" ><span style="color: #ff5400;font-size:16px;">（{{posts.sys_reply_str}}）</span></p>{% endif %} {% if posts.is_top and user.is_superuser %}[置顶]{% endif %}</a>
                                           
                                            {% if posts.rentpicture_set.all %}<a href="/posts/{{posts.id}}"><span style="color: #ff5400;font-size:16px;">[图片&nbsp;{{ posts.rentpicture_set.all.count }}]</span></a>{% endif %}
                                        </div>
                                        <div class="tagBox" style="color:#3f3f3f;font-size:12px;white-space: normal;">
                                       <!--  <span style="float:right;font-size:12px;"><span style="color:#e10f0f;font-size:16px;">${{rent.fee}}</span>/月</span> -->
                                           {% for book_item in posts.usedbookitem_set.all %}
                                             <a href="#">{{book_item.name}}</a>
                                             
                                            {% endfor %}
                                             
                                        </div>



                                        
                                    </td>
                                    <!-- <td class="time"> -->
                                        <!-- <div class="remainingTime" style="margin-top:10px;"> -->
                                            <!-- <span>仅剩&nbsp;2天&nbsp;3:30:15</span> -->
                                           <!--  <span style="font-size:15px;color:#e10f0f;"></span>
                                        </div> -->
                                       <!-- <div class="info" style="margin-top:10px">
                                            <ul style="list-style:none;">
                                              
                                              <li style="font-size:14px;color:#3d3d3c;"><i class="fa fa-user" style="color:#999;"></i>&nbsp;{{ rent.author.username }}</li>
                                              <li style="font-size:12px;color:#838383;">{{ rent.post_date }}</li>
                                            </ul>
                                        </div> -->
                                   <!--  </td>
                                </tr> -->
                                <tr id="mlistt">
                                       <div class="mcontent">
                                       
                                            <a href="/posts/{{posts.id}}" style="color:#338dfd;font-size:16px;">[{% if posts.district == "OTHER" %}{{posts.district_other}}{% else %}{{ posts.district }}{% endif %}]&nbsp;</a>
                                            <a href="/posts/{{posts.id}}" style="color:#338dfd;font-size:16px;">{{ posts.title}}</a>
                                          
                                            {% if posts.rentpicture_set.all %}<a href="/posts/{{posts.id}}"><span style="color: #ff5400;font-size:16px;width:30px;">[图片&nbsp;{{ posts.rentpicture_set.all.count }}]</span></a>{% endif %}
                                            <!-- <span style="float:right;font-size:12px;"><span style="color:#e10f0f;font-size:16px;">${{rent.fee}}</span>/月</span> -->
                                        </div>
                                        <div class="mtagBox" style="color:#3f3f3f;font-size:12px;">
                                        {% for book_item in posts.usedbookitem_set.all %}
                                             <a href="#">{{book_item.name}}</a>
                                            
                                            {% endfor %}
                                        </div>



                                        
                                    
                                    
                                        <div class="mremainingTime" style="padding-bottom:10px;">
                                            <!-- <span>仅剩&nbsp;2天&nbsp;3:30:15</span> -->
                                            <!-- <span style="font-size:12px;color:#e10f0f;">仅剩&nbsp;{{ book_item.get_date }}</span>
                                        -->
                                       
                                            <!-- <ul style="list-style:none;float:right">
                                              
                                              <li style="font-size:14px;color:#3d3d3c;"><i class="fa fa-user" style="color:#999;"></i>&nbsp;{{ rent.author.username }}</li>
                                              <li style="font-size:12px;color:#838383;">{{ rent.post_date }}</li>
                                            </ul> -->

                                        </div>
                                        {% if forloop.counter == 5 %}
                                            <div id="rentadx" style="width:100%;height:110px;text-align:center;">
                                                <div id="myCarousel{{rent.id}}" class="carousel slide carouseladv">

                                                    <div class="carousel-inner">
                                                        {% if ad_B1 %}
                                                            <div class="item active" style="text-align:center;">
                                                                <a href="{{ad_B1.url}}" target="_blank"><img src="/static/images/one.jpg" style="margin-top:5px;width:100%;height:auto;max-height:110px;max-width:365px;max-height:100px;margin: 0 auto;"></a>
                                                            </div>
                                                        {% endif %}
                                                        {% if ad_B2 %}
                                                            <div class="item">
                                                                <a href="{{ad_B2.url}}" target="_blank"><img src="{{ad_B2.img.url}}" style="margin-top:5px;width:100%;height:100%;max-width:365px;max-height:100px;margin: 0 auto;"></a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% elif forloop.counter == 10 %}
                                            <div id="rentadx" style="width:100%;height:auto;max-height:110px;text-align:center;">
                                                <div id="myCarousel{{rent.id}}" class="carousel slide carouseladv">

                                                    <div class="carousel-inner">
                                                        {% if ad_B3 %}
                                                            <div class="item active" style="text-align:center;">
                                                                <a href="{{ad_B3.url}}" target="_blank"><img src="{{ad_B3.img.url}}" style="margin-top:5px;width:100%;height:100%;max-width:365px;max-height:100px;margin: 0 auto;"></a>
                                                            </div>
                                                        {% endif %}
                                                        {% if ad_B4 %}
                                                            <div class="item" style="text-align:center;">
                                                                <a href="{{ad_B4.url}}" target="_blank"><img src="{{ad_B4.img.url}}" style="margin-top:5px;width:100%;height:100%;max-width:365px;max-height:100px;margin: 0 auto;"></a>
                                                            </div>
                                                        {% endif %}
                                                        {% if ad_B5 %}
                                                            <div class="item" style="text-align:center;">
                                                                <a href="{{ad_B5.url}}" target="_blank"><img src="{{ad_B5.img.url}}" style="margin-top:5px;width:100%;height:100%;max-width:365px;max-height:100px;margin: 0 auto;"></a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% elif forloop.counter == 15 %}
                                            <div id="rentadx" style="width:100%;height:auto;max-height:110px;text-align:center;">
                                                <div id="myCarousel{{rent.id}}" class="carousel slide carouseladv">

                                                    <div class="carousel-inner">
                                                        {% if ad_B6 %}
                                                            <div class="item active" style="text-align:center;">
                                                                <a href="{{ad_B6.url}}" target="_blank"><img src="{{ad_B6.img.url}}" style="margin-top:5px;width:100%;height:100%;max-width:365px;max-height:100px;margin: 0 auto;"></a>
                                                            </div>
                                                        {% endif %}
                                                        {% if ad_B7 %}
                                                            <div class="item">
                                                                <a href="{{ad_B7.url}}" target="_blank"><img src="{{ad_B7.img.url}}" style="margin-top:5px;width:100%;height:100%;max-width:365px;max-height:100px;margin: 0 auto;"></a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                </tr>
                     
                            {% endfor %}
                                   
                        </tbody>
                    </table>
                    <a href="/posts/add" class="mremainingTime" style="position:fixed;bottom:30px;border:0;text-align:right;right:10px"><img src="/static/images/fastposts.png" style="width:50px"></a>  
                    <div class="new-post-wrapper" style="text-align:center;">
                        <a class="new-post btn publish" href="/posts/add">
                    <span>发表新帖</span>
                        </a>
                    </div>

                    <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% load i18n %}
                                            <li><a href="?page=1">首页</a></li>

                                            {% if UsedBook_list.has_previous %}
                                                <li class="long" ><a href="?{{ UsedBook_list.previous_page_number.querystring }}" class="prev">&lsaquo;&lsaquo; {% trans "上一页" %}</a>
                                                </li>

                                            {% endif %}
                                            {% for page in UsedBook_list.pages %}
                                                {% if page %}
                                                    {% ifequal page UsedBook_list.number %}
                                                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                                                    {% else %}
                                                        <li ><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                                                    {% endifequal %}
                                                    {% else %}
                                                        <li class="none"><a href="">...</a></li>
                                                    {% endif %}
                                            {% endfor %}
                                            {% if UsedBook_list.has_next %}
                                                    <li class="long"><a href="?{{ UsedBook_list.next_page_number.querystring }}">下一页</a></li>

                                            {% endif %}
                                            <li><a href="?page={{ numb }}">尾页</a></li>

                                        </ul>
                    </nav>
                </div>
            </div><!-- end of col-xs-9 -->

           <div class="adv col-md-3 ac" id="ac" style="height:100%;padding-left: 0px;padding-right:0px">
                {% if ad_A1 %}
                    <div style=""  id="A3">
                        <a href="{{ad_A1.url}}" target="_blank"><img src="{{ad_A1.img.url}}" id="A3" style="width:100%;height:100%;margin: 0px;padding: 0px;"/></a>
                    </div>
                {% endif %}
                {% if ad_A2 %}
                    <div style=""  id="A4">
                        <a href="{{ad_A2.url}}" target="_blank"><img src="{{ad_A2.img.url}}" id="A3" style="width:100%;height:100%;margin: 0px;padding: 0px;"/></a>
                    </div>
                {% endif %}
                {% if ad_A3 %}
                    <div style=""  id="A5">
                        <a href="{{ad_A3.url}}" target="_blank"><img src="/static/images/A3.jpg" id="A3" style="width:100%;height:100%;margin: 0px;padding: 0px;"/></a>
                    </div>
                {% endif %}
                <!-- {% if ad_A4 %}
                    <div style="">
                        <a href="{{ad_A4.url}}" target="_blank"><img src="{{ad_A4.img.url}}" style="width:100%;height:100%;margin: 0px;padding: 0px;"/></a>
                    </div>
                {% endif %}
                {% if ad_A5 %}
                    <div style="">
                        <a href="{{ad_A5.url}}" target="_blank"><img src="{{ad_A5.img.url}}" style="width:100%;height:100%;margin: 0px;padding: 0px;"/></a>
                    </div>
                {% endif %}
                {% if ad_A6 %}
                    <div style="">
                        <a href="{{ad_A6.url}}" target="_blank"><img src="{{ad_A6.img.url}}" style="width:100%;height:100%;margin: 0px;padding: 0px;"/></a>
                    </div>
                {% endif %}
                {% if ad_A7 %}
                    <div style="">
                        <a href="{{ad_A7.url}}" target="_blank"><img src="{{ad_A7.img.url}}" style="width:100%;height:100%;margin: 0px;padding: 0px;"/></a>
                    </div>
                {% endif %} -->
        </div>  <!-- end of main-content -->
       
</div>
    </div>
</div>
<div class="u-main-footer ac">
    <span>洛杉矶留学生资讯网&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;CSinLA Team 技术支持</span>
</div>
<script src="{% static "js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/houseRenting.js" %}"></script>
<script src="{% static "js/menu.js" %}"></script>
<script type="text/javascript" src="/static/js/adv.js"></script>

</script>
<!-- <script type="text/javascript">
window.onscroll = function () { 
 $("#ac").css('top','0px');
};
</script> -->
</body>
</html>
