<!DOCTYPE html>
<html lang="zh-cn">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="ie-stand">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalabe=no">
    <title>邮箱找回密码</title>
    <link rel="shortcut icon" href="/static/images/logo1.png">

    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">  
    <link href="{% static "css/ResetSuccess.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}"> 
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
  </head>
  <body>
  <!-- 顶部部分开始 -->
      <div class="header">
          <span class="logo">
                <a href="#"><img class="img-response" src="{% static "images/logo.png" %}" alt="logo" style="margin-left:10px;width:auto;height:80%;"></a>
          </span>
          
      </div>
      <div class="content">
          <div class="content-left">
              <span>“Just for bring us <br>
                    A better living environment”</span>
          </div>
          <div class="content-right">
              <div>
                  <a href="ResetForgotPassword.html"><input type="image" src="{% static "images/back-icon.png" %}" style="width:25px; height: 25px;margin:10px;"></a>
              </div>
              <div style="width:100%;text-align:center;margin-top:10px;font-size:25px;font-family:'宋体';color:#FFF;">
                  邮箱找回密码
              </div>
              <form action="" method="post">{% csrf_token %}
                  <div style="color:#FFF;font-size:28px;font-family:'Times New Roman';text-align:center;">                  
                      <div style="margin-top:45px;font-size:14px;text-align:center;font-family:'微软雅黑';line-height:25px;">
                         请输入您绑定的邮箱, {{ email }} <br>确认之后，我们将发送密码重置链接到您的邮箱
                       <br> 验证码：<!--<input type="text" style="font-size:14px;border:0;border-bottom:1px solid #999;width:90px;background:none;margin-top:10px;text-indent:0.5em;" placeholder="右侧验证码"><img src="{% static "images/security_image.png" %}" style="margin-left:10px;margin-top:-14px;">--> {{ form.captcha }}
                      </div>
                  </div>
                  <div style="text-align:center;margin-top:35px;"><input style="width:70%;height:40px;border:1px solid #fff;border-radius:20px;font-size:16px;color:#fff;background:none;letter-spacing:4px;" type="submit" value="确认发送">
                  </div>
              </form>
          </div>
      </div>
     
     
     <div style="margin-top:50px;"></div>
     
     

       
       
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
