<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
    <ul>
        {% for user in  users %}
            <li><a href="#" onclick="following(this.text)">{{ user.username }}</a></li><span id="{{ user.username }}">+加关注</span>
        {% endfor %}
    </ul>
    <div id="results"></div>

    <script>
        // AJAX for posting
        function following(username) {
            // csrf ajax post request
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    function getCookie(name) {
                        var cookieValue = null;
                        if (document.cookie && document.cookie != '') {
                            var cookies = document.cookie.split(';');
                            for (var i = 0; i < cookies.length; i++) {
                                var cookie = jQuery.trim(cookies[i]);
                                // Does this cookie string begin with the name we want?
                                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                            }
                        }
                        return cookieValue;
                    }
                    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                        // Only send the token to relative URLs i.e. locally.
                        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    }
                }
            });

            // sanity check
            console.log("following post request is working!")
            $.ajax({
                url : "/accounts/follow/add/", // the endpoint
                type : "POST",
                data : { follows : username }, // filter data

                // handle a successful response
                success : function(json) {
                    $('#' + username).text('已关注');
                    console.log(json);
                    console.log("success");
                },

                // handle a non-successful response
                error : function(xhr,errmsg,err) {
                    // display error message
                    $('#results').html("<div class='alert-box alert radius' data-alert>发生错误啦: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>");
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        };
    </script>
</body>
</html>