@import "common/base.css";
@import "common/form-module.css";
@import "common/header.css";
@import "common/slogan-text.css";
@import "common/footer.css";

/*main部分开始*/
.main .slogan {
    width: 60%;
    position: relative;
    height: inherit;
    float: left;
}

.main .box {
    width: 40%;
    height: inherit;
    float: right;
    padding-right: 150px;
    position: relative;
}

.box .loginCard {
    text-align: left;
    display: inline;
    padding: 30px 35px;
    width: 370px;
    height: 500px;
    float: right;
    background: rgba(255, 255, 255, 0.1);
    filter: Alpha(opacity=10); /* 只支持IE6、7、8、9 */
    position: static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom: 1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
}

.myButton {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
}

.center {
    margin: 0 auto;
}