@import "common/base.css";
@import "common/header.css";

@charset "utf-8";
/* CSS Document */

*{margin:0 px;padding:0px;}
body{
	
    font: 100% "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #999;
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.black_overlay{
display: none;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1001;
-moz-opacity: 0;
opacity:0;
filter: alpha(opacity=0);
}
.white_content {
display: none;
position: fixed;
top: 10%;
left: 20%;
width: 60%;
height: 80%;
background-color: white;
z-index:1002;
overflow: auto;
border-radius:10px; 
box-shadow:-5px -5px 5px #ededed; 
}
.white_content_small {
display: none;
position: absolute;
top: 20%;
left: 30%;
width: 40%;
height: 50%;
border: 16px solid lightblue;
background-color: white;
z-index:1002;
overflow: auto;
   
}
#weixin{
    margin-left: 242px;
}
.errorlist{color: #f00;font-size: 10px;}
#id_captcha_1{width: 60%;background: none;border-bottom: 1px solid #999;}
.register_checkbox{opacity:0;}
@media (max-width: 767px) {
.mobile-nav-btn {
    font-size: 2.6em;
    color: #fff;
}
#weixin{
    margin-left: 69%;
}
.login-status {
    display: none;
}
.u-header {
    display: none;
}
#id_captcha_1{width: 60%;background: none;border-bottom: 1px solid #999;}

.captcha{position: absolute;margin-left: 32%;}
.header {
    width: 100%;
    padding: 0;
    height: 80px;
}

.header .logo {
    margin-left: 10px;
    padding: 13px 0;
}
.header .logo img {
    max-width:200px;
}

}
@media (min-width: 769px) {
.header {
    display: none;
}

#id_captcha_1{width: 60%;background: none;border-bottom: 1px solid #999;}
.va{text-align: right;}
.captcha{position: absolute;margin-left: 12%;}
.user span {
     position: absolute; 
     font-size: 14px; 
     font-family: "Microsoft YaHei", "微软雅黑"; 
}
.user .login span {
     line-height: 30px; 
     left: 15px;
     color: #feedef; 
}
.user .register span {
    line-height: 30px;
    left: 30px;
    color: #cac8cb;
}
.user a {
    position: relative;
    text-align: center;
}
.u-container {
    width: 70%;
    margin: auto;
}
/*header*/
.u-header {
    padding: 15px 10px 10px;
}

.u-header .logo {
    width: 200px;
}

.u-header .login-status {
    width: 232px;
    margin-top: 16px;
}

.u-header .avatar-wrapper {
    display: inline-block;
    margin-right: 15px;
}

.u-header .avatar {
    margin-top: -5px;
    width: 42px;
    height: 42px;
}

.u-header .dropdown {
    margin-right: 10px;
}

.u-header .dropdown-menu {
    left: -8px;
    min-width: 80px;
}

.u-header .dropdown-menu:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 15px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-bottom: 8px solid #fff;
    border-right: 4px solid transparent;
}

.u-header .dropdown-menu-right {
    left: auto;
    right: -8px;
}

.u-header .dropdown-menu-right:before {
    left: auto;
    right: 15px;
}

.header-btn {
    display: block;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    position: relative;
}

.header-btn i {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 18px;
    opacity: 0.8;
}

.header-btn .redpoint {
    position: absolute;
    right: -10px;
    top: -10px;
}

.u-header .new-post-wrapper {
    margin-left: 5px;
}

.u-header .new-post {
    display: block;
    width: 90px;
    height: 32px;
    font-size: 14px;
    background-image: url(../../static/images/01-home-login.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    line-height: 32px;
}


}

@media (min-width:1026px){
.m-content{display:none}
	.content{display:block;margin:0 auto; }
.m-info{display:none;}
#id_captcha_1{width: 60%;background: none;border-bottom: 1px solid #999;}

.captcha{position: absolute;margin-left: 100px;}
.content{width:100%;height:auto;}
.content-left{width:55%;margin-top:100px;height:200px;color:#FFF;font-size:42px;font-family:"Times New Roman";margin-left:5%;padding-top:100px;letter-spacing:1.5px;}
.content-right{    width: 300px;
    margin-left: 70%;
    height: auto;
    background-color: rgba(255,255,255,0.1);
    margin-top: -240px;}
.form-con{margin-top:20px;text-align:right;margin-right:20px;color:#fff;font-size:14px;}
#school{background:none;width:65%;height:30px;font-size:14px;color:#999;margin-left:3px;}
input{height:30px;width:65%;margin-left:4px;}
#school option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}}
@media (max-width:1024px) and (min-width:768px){
	.u-container {
    width: 80%;
    margin: auto;}
.m-content{display:none}
	.content{display:block;margin:0 auto; }
.m-info{display:none;}
.content{width:100%;height:auto;}
.content-left{width:55%;margin-top:100px;height:200px;color:#FFF;font-size:36px;font-family:"Times New Roman";margin-left:5%;padding-top:100px;letter-spacing:1.5px;}
.content-right{    width: 300px;
    margin-left: 60%;
    height: auto;
    background-color: rgba(255,255,255,0.1);
    margin-top: -240px;}
.form-con{margin-top:20px;text-align:right;margin-right:20px;color:#fff;font-size:14px;}
#school{background:none;width:65%;height:30px;font-size:14px;color:#999;margin-left:3px;}
input{height:30px;width:65%;margin-left:4px;}
#school option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}
#id_captcha_1{width: 60%;background: none;border-bottom: 1px solid #999;}

.captcha{position: absolute;margin-left: 10%;}
}

@media (width:768px){
	.u-container {
    width: 80%;
    margin: auto;}
	.m-content{display:none}
	.content{display:block;margin:0 auto; }
.m-info{display:none;}
.u-header {
    padding: 15px 10px 10px;
    
}
.u-header .logo{width: 200px;}
.header{display: none;}
.content{width:100%;height:auto;}
.content-left{width:55%;margin-top:60px;height:200px;color:#FFF;font-size:36px;font-family:"Times New Roman";margin-left:5%;padding-top:100px;letter-spacing:1.5px;}
.content-right{    width: 300px;
    margin-left: 60%;
    height: auto;
    background-color: rgba(255,255,255,0.1);
    margin-top: -200px;}

    #id_captcha_1{width: 60%;background: none;border-bottom: 1px solid #999;}

.captcha{position: absolute;margin-left: 12%;}
    .form-con{margin-top:20px;text-align:right;margin-right:20px;color:#fff;font-size:14px;}
#school{background:none;width:65%;height:30px;font-size:14px;color:#999;margin-left:3px;}
input{height:30px;width:65%;margin-left:4px;}
#school option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}}
@media (max-width:767px) and (min-width:376px){
	.m-content{display:none}
	.content{display:block;margin:0 auto; }
.m-info{display:none;}
.header{width:100%;height:60px;}
.header img{width:200px;height:90%;}

.content{width:100%;height:auto;}
.content-left{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    color: #FFF;
    font-size: 26px;
    font-family: "Times New Roman";
    margin-left: 1%;
    line-height: 40px;}
.content-right{width:80%;height:auto;background-color:rgba(255,255,255,0.1);margin: 0 auto;}
.form-con{margin-top:20px;text-align:right;margin-right:20px;color:#fff;font-size:14px;}
#school{background:none;width:65%;height:30px;font-size:14px;color:#999;margin-left:3px;}
input{height:30px;width:65%;margin-left:4px;}
#school option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}}
@media (max-width:375px){
.m-content{display:none}
	.content{display:block;}
.m-info{display:none;}
.header{width:100%;height:60px;}
.header img{width:200px;height:90%;}
.content{width:100%;height:auto;}
.content-left{
margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    color: #FFF;
    font-size: 26px;
    font-family: "Times New Roman";
    margin-left: 1%;
    line-height: 40px;}
.content-right{width:85%;height:auto;background-color:rgba(255,255,255,0.1);margin: 0 auto;}
.form-con{margin-top:20px;text-align:right;margin-right:20px;color:#fff;font-size:14px;}
#school{background:none;width:65%;height:30px;font-size:14px;color:#999;margin-left:3px;}
input{height:30px;width:65%;margin-left:4px;}
#school option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}}



