@import "common/base.css";
@import "common/header.css";
@charset "utf-8";
/* CSS Document */

*{margin:0 px;padding:0px; }
body{
	
    font: 100% "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #999;
    background-image: url(../images/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
input{font-size: 18px;font-family: "Times New Roman";color: #fff;background:transparent !important;}
@media (max-width: 767px) {

.u-header {
    display: none;
}
.header {
    width: 100%;
    padding: 0;
    height: 80px;
}

.header .logo {
    margin-left: 10px;
    padding: 13px 0;
}
.header .logo img {
    max-width:200px;
}

}
@media (min-width: 769px) {
.header {
    display: none;
}
.user span {
     position: absolute; 
     font-size: 14px; 
     font-family: "Microsoft YaHei", "微软雅黑"; 
}
.user .login span {
     line-height: 30px; 
     left: 15px;
     color: #feedef; 
}
.user .register span {
    line-height: 30px;
    left: 30px;
    color: #cac8cb;
}
.user a {
    position: relative;
    text-align: center;
}
.u-container {
    width: 70%;
    margin: auto;
}
/*header*/
.u-header {
    padding: 15px 10px 10px;
}

.u-header .logo {
    width: 200px;
}

.u-header .login-status {
    width: 232px;
    margin-top: 16px;
}

.u-header .avatar-wrapper {
    display: inline-block;
    margin-right: 15px;
}

.u-header .avatar {
    margin-top: -5px;
    width: 42px;
    height: 42px;
}

.u-header .dropdown {
    margin-right: 10px;
}

.u-header .dropdown-menu {
    left: -8px;
    min-width: 80px;
}

.u-header .dropdown-menu:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 15px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-bottom: 8px solid #fff;
    border-right: 4px solid transparent;
}

.u-header .dropdown-menu-right {
    left: auto;
    right: -8px;
}

.u-header .dropdown-menu-right:before {
    left: auto;
    right: 15px;
}

.header-btn {
    display: block;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    position: relative;
}

.header-btn i {
    display: block;
    width: 25px;
    height: 25px;
    font-size: 18px;
    opacity: 0.8;
}

.header-btn .redpoint {
    position: absolute;
    right: -10px;
    top: -10px;
}

.u-header .new-post-wrapper {
    margin-left: 5px;
}

.u-header .new-post {
    display: block;
    width: 90px;
    height: 32px;
    font-size: 14px;
    background-image: url(../../static/images/01-home-login.png);
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    line-height: 32px;
}


}

.fa-2x{color:#FFF;}
.m-content{display:none}
	.content{display:block;}
.m-info{display:none;}
.header{width:70%;height:60px;}
.header img{height:90%;}
.content{width:100%;height:auto;}
.content-left{width:55%;margin-top:100px;height:200px;color:#FFF;font-size:42px;font-family:"Times New Roman";margin-left:5%;padding-top:100px;letter-spacing:1.5px;}
.content-right{    width: 300px;
    margin-left: 70%;
    height: auto;
    background-color: rgba(255,255,255,0.1);
    margin-top: -240px;}
    #question{background:none;width:200px;height:30px;font-size:14px;color:#999;margin-left:-3px;}
#question option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}


@media (max-width:1024px) and (min-width:768px){
	.u-container {
    width: 80%;
    margin: auto;
}
	.m-content{display:none}
	.content{display:block;}
	.u-header .logo {
    width: 200px;
}
.content{width:80%;height:auto;}
.content-left{width:60%;margin-top:100px;height:200px;color:#FFF;font-size:38px;font-family:"Times New Roman";padding-top:100px;}
.content-right{    width: 300px;
    margin-left: 70%;
    height: auto;
    background-color: rgba(255,255,255,0.1);
    margin-top: -240px;}
#question{background:none;width:200px;height:30px;font-size:14px;color:#999;margin-left:-3px;}
#question option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}
	}
@media (width:768px){
	.m-content{display:none}
	.content{display:block;}
	.u-header {
    padding: 15px 10px 10px;
    
}

.header{display: none;}
.content{width:100%;height:auto;}
.content-left{width:65%;margin-top:100px;height:200px;color:#FFF;font-size:36px;font-family:"Times New Roman";padding-top:100px;margin-left:5%;}
.content-right{    width: 300px;
    margin-left: 60%;
    height: auto;
    background-color: rgba(255,255,255,0.1);
    margin-top: -240px;}
#question{background:none;width:200px;height:30px;font-size:14px;color:#999;margin-left:-3px;}
#question option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}
	}
@media (max-width:767px) and (min-width:376px){
	.content{display:none;}
	.m-content{display:block;}
	.header{width:100%;height:60px;}
.header img{width:200px;height:90%;}
.m-content{width:100%;height:auto;}
.m-content-left{    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    color: #FFF;
    font-size: 28px;
    font-family: "Times New Roman";
    margin-left: 1%;
    line-height: 40px;}
    .m-content-right{
width:80%;height:auto;background-color:rgba(255,255,255,0.1);margin: 0 auto;}
#question{background:none;width:200px;height:30px;font-size:14px;color:#999;margin-left:-3px;}
#question option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}}	
@media (max-width:376px){
	.content{display:none}
	.m-content{display:block;}
	.header{width:100%;height:60px;}
.header img{width:200px;height:90%;}
.m-content{width:100%;height:auto;}
.m-content-left{
        margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    color: #FFF;
    font-size: 26px;
    font-family: "Times New Roman";
    margin-left: 1%;
    line-height: 40px;}
.m-content-right{width:85%;height:370px;background-color:rgba(255,255,255,0.1);margin:0 auto;}
#question{background:none;width:200px;height:30px;font-size:14px;color:#999;margin-left:-3px;}
#question option{background: #483F4D;font-size:14px;}
.footer {
	margin-top: 70px;
	height: 40px;
	line-height: 40px;
	text-align:center;
	background-color: rgba(0, 0, 0, 0.7);
}}	

