@media (min-width: 1026px) {
     .car{display: block}
     .mcar{display: none}
.footer {
     position: absolute; 
    bottom: 0;
    width: 100%;
    height: 43px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f000000', endColorstr='#3f000000');
    background-color: rgba(0, 0, 0, .4);
    z-index: 7;
}
.Contactus{
    height: 170px;
    }}
@media (max-width: 1025px) and (min-width: 769px) {
     .car{display: block}
     .mcar{display: none}
.footer {
     position: absolute; 
   /* bottom: 0;*/
    width: 100%;
    height: 43px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f000000', endColorstr='#3f000000');
    background-color: rgba(0, 0, 0, .4);
    z-index: 7;
}
.Contactus{
    height: 170px;
    }}
    @media (width: 768px) {
         .car{display: block}
     .mcar{display: none}
.footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    height: 43px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f000000', endColorstr='#3f000000');
    background-color: rgba(0, 0, 0, .4);
    z-index: 7;
}
.Contactus{
    height: 170px;
    }}
@media (max-width: 767px) {
    .video {
        display: none;
    }
    .mcar{display: block}
     .car{display: none}
    
    .footer {
    /*position: absolute;*/
     bottom: 0; 
    width: 100%;
    height: 43px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f000000', endColorstr='#3f000000');
    background-color: rgba(0, 0, 0, .4);
    z-index: 7;
}
.Contactus{
    height: 750px;
    }}