<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalabe=no">
        <link href="{% static "fun/css/Csinlafun1.css" %}" rel="stylesheet" />
        <title>主页</title>
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="/fun/">主页</a></li>
                <li class="list"><a href="Csinlafun.html">CSinLA fun</a></li>
                <li><a href="/fun/contact">联系</a></li>
            </ul>
        </div>
        <div class="content">
            <ul class="cont">
                <li id="li1">
                    <img src="{% static "fun/image/fun1-1.png" %}">
                    <div class="title">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div class="title-content">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div style="width:60px;height:60px;float:left;margin-top:20px;">
                        <img src="{% static "fun/image/header.png" %}" width="100%" height="100%">
                    </div>
                    <div style="height:60px;text-align:left;margin-top:20px;">
                        <h2>Hoster Name</h2>
                        <p style="font-size:16px;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">hoster summary or introduction11</p>
                    </div>
                </li>
                <li>
                    <img src="{% static "fun/image/fun1-1.png" %}">
                    <div class="title">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div class="title-content">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div style="width:60px;height:60px;float:left;margin-top:20px;">
                        <img src="{% static "fun/image/header.png" %}" width="100%" height="100%">
                    </div>
                    <div style="height:60px;text-align:left;margin-top:20px;">
                        <h2>Hoster Name</h2>
                        <p style="font-size:16px;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">hoster summary or introduction111</p>
                    </div>
                </li>
                <li>
                    <img src="{% static "fun/image/fun1-1.png" %}">
                    <div class="title">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div class="title-content">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div style="width:60px;height:60px;float:left;margin-top:20px;">
                        <img src="{% static "fun/image/header.png" %}" width="100%" height="100%">
                    </div>
                    <div style="height:60px;text-align:left;margin-top:20px;">
                        <h2>Hoster Name</h2>
                        <p style="font-size:16px;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">hoster summary or introduction11 </p>
                    </div>
                </li>
                <li>
                    <img src="{% static "fun/image/fun1-1.png" %}">
                    <div class="title">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div class="title-content">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div style="width:60px;height:60px;float:left;margin-top:20px;">
                        <img src="{% static "fun/image/header.png" %}" width="100%" height="100%">
                    </div>
                    <div style="height:60px;text-align:left;margin-top:20px;">
                        <h2>Hoster Name</h2>
                        <p style="font-size:16px;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">hoster summary or introduction11 </p>
                    </div>
                </li>
                <li>
                    <img src="{% static "fun/image/fun1-1.png" %}">
                    <div class="title">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div class="title-content">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div style="width:60px;height:60px;float:left;margin-top:20px;">
                        <img src="{% static "fun/image/header.png" %}" width="100%" height="100%">
                    </div>
                    <div style="height:60px;text-align:left;margin-top:20px;">
                        <h2>Hoster Name</h2>
                        <p style="font-size:16px;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">hoster summary or introduction11 </p>
                    </div>
                </li>
                <li>
                    <img src="{% static "fun/image/fun1-1.png" %}">
                    <div class="title">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div class="title-content">Activities Name Use the toolbar Symbols icon to ad</div>
                    <div style="width:60px;height:60px;float:left;margin-top:20px;">
                        <img src="{% static "fun/image/header.png" %}" width="100%" height="100%">
                    </div>
                    <div style="height:60px;text-align:left;margin-top:20px;">
                        <h2>Hoster Name</h2>
                        <p style="font-size:16px;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis">hoster summary or introduction111 </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="footer">
            <a href="/fun/contact"><img src="{% static "fun/image/emil1.png" %}" style="width:20px;height:15px;">
            <div style="font-size:13px;margin-top:8px;color:#ccc;font-family:'微软雅黑'">联系我们</div>
            <hr></a>
            <span>fun.csinla.com</span>
        </div>



        <script src="{% static "fun/js/jquery.min.js" %}"></script>
        <script src="{% static "fun/js/bootstrap.min.js" %}"></script>

    </body>
</html>
