<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalabe=no">

        <link href="{% static "fun/css/PaySuccess.css" %}" rel="stylesheet" />
        <title>主页</title>
    </head>

    <body>
        <div class="header">
            <ul>
                <li><a href="/fun/">主页</a></li>
                <li><a href="/fun/activity/view">CSinLA fun</a></li>
                <li><a href="/fun/contact">联系</a></li>
            </ul>
        </div>
        <div class="content">
            
            <div class="paysuc">支付成功，正在努力出票...</div>
            <img src="{{activityorder.activitytimeitem.activity.ticket_image.url}}" class="img2">
            <div>
                <input type="text" placeholder="Email" value="{{activityorder.customer_email}}">
                <input type="button" value="发送到我的邮箱">
            </div>
        </div>
        <div class="footer">
            <a href="/fun/activity/view"><img src="{% static "fun/image/foot.png" %}"></a>
            <hr>
            <span>fun.csinla.com</span>
        </div>

        <script src="{% static "fun/js/jquery.min.js" %}"></script>
        <script src="{% static "fun/js/bootstrap.min.js" %}"></script>
    </body>
</html>
